<!Doctype html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/pages/index/index.css">
	<% include ../../partials/head/head %>
	
	<title>Aplipage.pl</title>

</head>
<body class="">

	<% include ../../partials/menu/menu %>

	<section class="page" id="landingPage">
		
		<figure class="image centered">
			<img src="/resources/aLogo.png">
		</figure>
	
	</section>

	<section class="page">
		
		<div class="centered">
			<h1 class="h1"> Nasza kadra </h1>
			<div class="columns">
				<div class="column"> 
					adhaldja
				</div>
				<div class="column"> 
					aldhalsd
				</div>
			</div>
		</div>
		
	</section>

	<section class="page" id="done">
		
		<div class="centered">
			<h1 class="h1"> Nasze realizacje </h1>
			<div class="columns is-multiline">
				<div class="column"> 
					<a href="powtran-polska.pl"> Powtran-Polska </a>
				</div>
				<div class="column"> 
					<a href="nowasylwetka.pl"> Nowa sylwetka </a>
				</div>
				<div class="column"> 
					<a href="elmecosolar.pl"> Elmecosolar </a>
				</div>
				<div class="column"> 
					<a href="instytutlibra.pl"> Szkoła języków obcych Libra </a>
				</div>
				<div class="column"> 
					<a href="elmecoautomatyka.pl"> Elmeco Automatyka </a>
				</div>
			</div>
		</div>

	</section>

	<section class="page" id="contact">
		
		<div class="centered">
			<h1 class="h1"> Kontakt </h1>
			<div class="columns">
				<div class="column"> 
					adhaldja
				</div>
				<div class="column"> 
					aldhalsd
				</div>
			</div>
		</div>

	</section>

</body>
</html>